{% extends "base.html" %}

{% block meta %}
  <meta name="description" content="{{ballad.description|escape}}" />
{% endblock %}

{% block body %}

  {% if error %}
    <div class="box error">{{ error }}</div>
  {% endif %}

  {% if ballad.title %}
    <div><h2>&#8220;{{ ballad.title }}&#8221;</h2></div>
  {% endif %}
  
  {% if ballad.alternate_titles %}
    <div>
      <b>Alternate titles</b>:
      &#8220;{{ ballad.alternate_titles|join:"&#8221;; &#8220;" }}&#8221;
    </div>
  {% endif %}
  
  {% if ballad.author %}
    <div><b>Author</b>: {{ ballad.author }}</div>
  {% endif %}
  
  {% if ballad.earliest_date %}
    <div><b>Earliest date</b>: {{ ballad.earliest_date }}</div>
  {% endif %}
  
  {% if ballad.keywords %}
    <div>
      <b>Keywords</b>:
      {% for keyword in ballad.keywords %}
        <a href="/search?q=keyword:{{ keyword }}">{{ keyword }}</a>
      {% endfor %}
    </div>
  {% endif %}
  
  {% if ballad.found_in %}
    <div><b>Found in</b>: {{ ballad.found_in }}</div>
  {% endif %}
  
  {% if ballad.description %}
    <div>
      <h3>Description</h3>
      <p>{{ ballad.description|linebreaks }}</p>
    </div>
  {% endif %}
  
  {% if supptrad %}
    <div>
      <h3>Supplemental text</h3>
      <div class="box">
       <pre>{{ supptrad.text }}</pre>
      </div>
    </div>
  {% endif %}
  
  {% if ballad.scorex %}
    <div>
      <h3>Words and music</h3>
      <div class="box">
        <div style="text-align:center;"><img src="{{ ballad.score }}" alt="{{ ballad.title }}" /></div>
        <div>{{ ballad.lyrics|linebreaks }}</div>
        <div style="font-size:small;text-align:right;">Words and music courtesy of <a href="http://www.mudcat.org/" target="_blank">Mudcat</a> and <a href="http://sniff.numachi.com/" target="_blank">Yet Another Digital Tradition Mirror</a>.</div>
      </div>
  {% endif %}
  
  {% if ballad.long_description %}
    <div>
      <h3>Long description</h3>
      <p>{{ ballad.long_description|linebreaks }}</p>
    </div>
  {% endif %}
  
  {% if ballad.notes %}
    <div>
      <h3>Notes</h3>
      {% for line in ballad.notes.splitlines %}
        <p>{{line}}</p>
      {% endfor %}
    </div>
  {% endif %}
  
  {% if ballad.historical_references %}
    <div>
      <h3>Historical references</h3>
      <ul>
        {% for item in ballad.historical_references %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  {% if ballad.same_tune %}
    <div>
      <h3>Same tune</h3>
      <ul>
        {% for item in ballad.same_tune %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  {% if ballad.cross_references %}
    <div>
      <h3>Cross references</h3>
      <ul>
        {% for item in ballad.cross_references_ex %}
          <li>{{ item|safe }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  {% if ballad.broadsides %}
    <div>
      <h3>Broadsides</h3>
      <ul>
        {% for item in ballad.broadsides %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  {% if ballad.recordings %}
    <div>
      <h3>Recordings</h3>
      <ul>
        {% for item in ballad.recordings %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  {% if ballad.references %}
    <div>
      <h3>References</h3>
      <ol>
        {% for item in ballad.references %}
          <li>{{ item }}</li>
        {% endfor %}
        <li>BI, {{ ballad.file }}</li>
      </ol>
    </div>
  {% endif %}
  
<center>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-7316784774567539";
/* Leaderboard */
google_ad_slot = "9870461787";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</center>

{% endblock %}
