<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}
        <title>{% if self.title %}{{ self.title }} - {% endif %}Folklorist</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> -->
                <!--     <span class="sr-only">Toggle navigation</span> -->
                <!--     <span class="icon-bar"></span> -->
                <!--     <span class="icon-bar"></span> -->
                <!--     <span class="icon-bar"></span> -->
                <!-- </button> -->
                <a class="navbar-brand" href="/"><img src="/static/logo.png" alt="Folklorist" border="0" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form action="/search" method="get" class="navbar-form navbar-right" role="form">
                    <div class="form-group">
                        <input type="text" name="q" value="{{ self.query }}" id="search" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-success">Search</button>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
        </nav>

        <div class="container">
            {% block body %}
            {% endblock %}

            <!-- copyright -->
            <footer>
            <a href="http://www.csufresno.edu/folklore/BalladIndexTOC.html" target="_blank"> The Traditional Ballad Index</a>
            is copyright &copy; 2008 &ndash; 2014 by Robert B. Waltz and David G. Engle. The Digital Tradition is copyright
            <a href="http://mudcat.org" target="_blank">The Mudcat Cafe</a>. 
            </footer>
            <!-- analytics -->
        </div>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-5928294-1");
            pageTracker._trackPageview();
        </script>
        <!-- Latest compiled and minified JavaScript -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    </body>
</html>
