{% extends "base.html" %}
{% block body %}

  {% if vols %}
    <div style="text-align:center;">{{ vols|safe }}</div>
  {% endif %}

  {% if error %}
    <div class="box error">{{ error|safe }}</div>
  {% endif %}

  {% if info %}
    <div class="box info">{{ info|safe }}</div>
  {% endif %}
  
  <div style="float:right">
  <script type="text/javascript"><!--
google_ad_client = "ca-pub-7316784774567539";
/* Wide Skyscraper Text */
google_ad_slot = "8453098981";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  </div>

  {% if self.results %}
    <ul>
      {% for ballad in self.results %}
        <li><a href="{{ ballad.url }}">{{ ballad.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <div style="clear:both;"></div>
  
  {% if self.pages %}
    <div class="box" style="text-align:center;">
      {{ self.pages|safe }}
    </div>
  {% endif %}
{% endblock %}
